<p-card header="Page 2">
  <p-message severity="info">Page 2 Component</p-message>
  <br />
  <p-message severity="warn"
    >This is the page where we look for unsaved changes and trigger promp when
    user tries to leave</p-message
  >
  <br />
  <p-message severity="info"
    >Has Unsaved Changes?&nbsp;<strong>{{ isButtonClicked }}</strong></p-message
  >
  <br />
  <p-button primary (onClick)="handleUnsavedChanges()"
    >Toggle Page 2 Change</p-button
  >
  <br />
  <p-message *ngIf="error" severity="error">Error: {{ error }}</p-message>
</p-card>
